<!DOCTYPE html>
<html lang="en">
<title>Add</title>

<link rel="stylesheet" type="text/css" href="{{ url_for( 'static' , filename='add_form_style.css' ) }}" >

<div class="container" align="cenetr">
<form method="post" action="" align="center">
    <input type="text" class="activity" placeholder="Task" name="Activity">
    <br>
    <input type="text" class="activity" placeholder="Dependence" name="Predecessor">
    <br>
    <input type="number" class="activity" placeholder="Duration" name="Duration">
    <br>
    <input type="submit">
</form>
</div>