<!DOCTYPE html>
<html lang="en">
<title>Home</title>

<link rel="stylesheet" type="text/css" href="{{ url_for( 'static' , filename='table_style.css' ) }}" >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="w3-bar w3-black w3-card">
    <a href="/{{username}}/{{table}}" class="w3-bar-item w3-button w3-padding-large">{{table}}</a>
    <a href="/{{username}}/{{table}}/add" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADD TASK</a>
    <a href="/{{username}}/{{table}}/delete" class="w3-bar-item w3-button w3-padding-large w3-hide-small">DELETE TASK</a>
    <a href="/{{username}}/{{table}}/result" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RESULT</a>
    <a href="/{{username}}/{{table}}/gantt" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GANTT</a>
    <a href="/{{username}}" class="w3-bar-item w3-button w3-padding-large w3-right">User</a>
</div>


<table border = 1 align="center">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Predecessor</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for user in userDetails %}
        <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> {{user[2]}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
